In [22]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/garanti-bbva-data-camp/work_experiences.csv
/kaggle/input/garanti-bbva-data-camp/languages.csv
/kaggle/input/garanti-bbva-data-camp/submission.csv
/kaggle/input/garanti-bbva-data-camp/test_users.csv
/kaggle/input/garanti-bbva-data-camp/skills.csv
/kaggle/input/garanti-bbva-data-camp/train_users.csv
/kaggle/input/garanti-bbva-data-camp/education.csv

In [23]:
work_experiences = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/work_experiences.csv")
languages = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/languages.csv")
submission = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/submission.csv")
test_users = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/test_users.csv")
skills = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/skills.csv")
train_users = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/train_users.csv")
education = pd.read_csv("/kaggle/input/garanti-bbva-data-camp/education.csv")

In [24]:
work_experiences.head()

   user_id  company_id          location  start_year_month
0    53442        2651  Istanbul, Turkey            201509
1    34558         815  Istanbul, Turkey            201210
2    63761       26354               NaN            200010
3    10738          89               NaN            201610
4     8711        3113  Istanbul, Turkey            201801

In [25]:
work_experiences.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187019 entries, 0 to 187018
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           187019 non-null  int64
 1   company_id        187019 non-null  int64
 2   location          125605 non-null  object
 3   start_year_month  187019 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.7+ MB

In [26]:
# work_experiences["location"].fillna(work_experiences["location"].mode()[0], inplace=True)

In [27]:
work_experiences.rename(columns={"start_year_month": "start_year_work"}, inplace=True)

In [28]:
languages.head()

   user_id   language          proficiency
0        8  İngilizce    full_professional
1        8     Türkçe  native_or_bilingual
2        8  Fransızca           elementary
3       10  ingilizce                  NaN
4       11    Turkish  native_or_bilingual

In [29]:
languages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76062 entries, 0 to 76061
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      76062 non-null  int64
 1   language     76062 non-null  object
 2   proficiency  65401 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [30]:
# languages["proficiency"].fillna(languages["proficiency"].mode()[0], inplace=True)

In [31]:
submission.head()

   user_id  moved_after_2019
0    17449               NaN
1    33967               NaN
2     2110               NaN
3    55082               NaN
4    37165               NaN

In [32]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13255 entries, 0 to 13254
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           13255 non-null  int64
 1   moved_after_2019  0 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 207.2 KB

In [33]:
education.head()

,user_id,school_name,degree,fields_of_study,start_year_month,end_year_month
0,0,Anadolu Üniversitesi,NaN,NaN,NaN,NaN
1,0,Adıyaman Üniversitesi,NaN,NaN,NaN,NaN
2,0,Fırat Üniversitesi,NaN,NaN,NaN,NaN
3,1,Fırat Üniversitesi,Yüksek Lisans,Yazılım Mühendisliği,NaN,NaN
4,1,Fırat Üniversitesi,Lisans,Yazılım Mühendisliği,NaN,NaN

In [34]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142575 entries, 0 to 142574
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           142575 non-null  int64
 1   school_name       142575 non-null  object
 2   degree            106733 non-null  object
 3   fields_of_study   122737 non-null  object
 4   start_year_month  8202 non-null    float64
 5   end_year_month    7590 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.5+ MB

In [35]:
# education["degree"].fillna(education["degree"].mode()[0], inplace=True)

In [36]:
# education["fields_of_study"].fillna(education["fields_of_study"].mode()[0], inplace=True)

In [37]:
# education.drop("start_year_month", axis=1, inplace=True)

In [38]:
# education.drop("end_year_month", axis=1, inplace=True)

In [39]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142575 entries, 0 to 142574
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           142575 non-null  int64
 1   school_name       142575 non-null  object
 2   degree            106733 non-null  object
 3   fields_of_study   122737 non-null  object
 4   start_year_month  8202 non-null    float64
 5   end_year_month    7590 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.5+ MB

In [40]:
work_experiences.head(1)

   user_id  company_id          location  start_year_work
0    53442        2651  Istanbul, Turkey           201509

In [41]:
languages.head(1)

   user_id   language        proficiency
0        8  İngilizce  full_professional

In [42]:
all_data = pd.merge(work_experiences, education, on="user_id")
all_data = pd.merge(all_data, skills, on="user_id")
all_data = pd.merge(all_data, train_users, on="user_id")
all_data.isnull().sum()

user_id                   0
company_id                0
location_x          2828061
start_year_work           0
school_name               0
degree              2195827
fields_of_study     1211777
start_year_month    9134885
end_year_month      9180338
skill                     0
industry                965
location_y              315
moved_after_2019          0
dtype: int64

In [43]:
all_data.head()

,user_id,company_id,location_x,start_year_work,school_name,degree,fields_of_study,start_year_month,end_year_month,skill,industry,location_y,moved_after_2019
0,53442,2651,"Istanbul, Turkey",201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,ASP.NET,Computer Software,"Kagithane, Istanbul, Turkey",0
1,53442,2651,"Istanbul, Turkey",201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,C#,Computer Software,"Kagithane, Istanbul, Turkey",0
2,53442,2651,"Istanbul, Turkey",201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,SQL,Computer Software,"Kagithane, Istanbul, Turkey",0
3,53442,2651,"Istanbul, Turkey",201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,Business Analysis,Computer Software,"Kagithane, Istanbul, Turkey",0
4,53442,2651,"Istanbul, Turkey",201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,Web Geliştirme,Computer Software,"Kagithane, Istanbul, Turkey",0

In [44]:
all_data.drop("location_x", axis=1, inplace=True)

In [45]:
all_data.rename(columns={"location_y": "location"}, inplace=True)

In [46]:
all_data.head()

,user_id,company_id,start_year_work,school_name,degree,fields_of_study,start_year_month,end_year_month,skill,industry,location,moved_after_2019
0,53442,2651,201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,ASP.NET,Computer Software,"Kagithane, Istanbul, Turkey",0
1,53442,2651,201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,C#,Computer Software,"Kagithane, Istanbul, Turkey",0
2,53442,2651,201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,SQL,Computer Software,"Kagithane, Istanbul, Turkey",0
3,53442,2651,201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,Business Analysis,Computer Software,"Kagithane, Istanbul, Turkey",0
4,53442,2651,201509,Bahçeşehir Üniversitesi,İşletme Yüksek Lisans Programı (MBA),"İşletme ve Yönetim, Genel",NaN,NaN,Web Geliştirme,Computer Software,"Kagithane, Istanbul, Turkey",0

In [47]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9528123 entries, 0 to 9528122
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           int64
 1   company_id        int64
 2   start_year_work   int64
 3   school_name       object
 4   degree            object
 5   fields_of_study   object
 6   start_year_month  float64
 7   end_year_month    float64
 8   skill             object
 9   industry          object
 10  location          object
 11  moved_after_2019  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 945.0+ MB

In [48]:
all_data.drop_duplicates(inplace=True)
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9489752 entries, 0 to 9528122
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           int64
 1   company_id        int64
 2   start_year_work   int64
 3   school_name       object
 4   degree            object
 5   fields_of_study   object
 6   start_year_month  float64
 7   end_year_month    float64
 8   skill             object
 9   industry          object
 10  location          object
 11  moved_after_2019  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 941.2+ MB

In [49]:
all_data.user_id.nunique()

44271

In [50]:
df = all_data[["user_id", "company_id", "industry", "location", "moved_after_2019"]]
df.head()

,user_id,company_id,industry,location,moved_after_2019
0,53442,2651,Computer Software,"Kagithane, Istanbul, Turkey",0
1,53442,2651,Computer Software,"Kagithane, Istanbul, Turkey",0
2,53442,2651,Computer Software,"Kagithane, Istanbul, Turkey",0
3,53442,2651,Computer Software,"Kagithane, Istanbul, Turkey",0
4,53442,2651,Computer Software,"Kagithane, Istanbul, Turkey",0

In [51]:
import warnings 
warnings.filterwarnings("ignore")

df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126359 entries, 0 to 9528023
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           126359 non-null  int64
 1   company_id        126359 non-null  int64
 2   industry          126320 non-null  object
 3   location          126356 non-null  object
 4   moved_after_2019  126359 non-null  int64
dtypes: int64(3), object(2)
memory usage: 5.8+ MB

In [52]:
df.company_id.nunique()

18893

In [53]:
df.industry.nunique()

139

In [54]:
train_users = train_users.set_index("user_id")
test_users = test_users.set_index("user_id")
submission = submission.set_index("user_id")

In [55]:
work_experiences = work_experiences[work_experiences["start_year_work"] < 201901]

In [56]:
education = education[education['school_name'].notnull() & education['degree'].notnull()]

In [57]:
degree = {
    "(?i).*(High School|Highschool|Lise|Lise Mezunu|Lisemezunu).*":"HighSchool",
    "(?i).*(doktora|doctor|phd|ph.d|Doctor|Doktor|Ph|Doctorate).*": "PhD",
    "(?i).*(yüksek|master|M.Sc|MS|MBA|M.S|Yüksek|Master|MSc|MS|M.Sc.|MBA|Msc|M.Sc|M.S.|M.S).*": "Master",
    "(?i).*(lisans|licence|bachelor|BS|B.S|B.Sc|engineer|mühendis|mezun|graduate|licentiate|BS|Bs|Bachelor|BSc|BE|B.E.|B.Sc.|B.S.|B.S|Engineer|BA|BBA|BEng|B.B.A.|B.A.Sc.|Undergraduate|Licentiate|Licence|License|Lisans|Bacheleer|Bsc).*": "Bachelor",
}

In [58]:
university = {
    "(?i).*(Middle East Technical University|Orta Doğu Teknik Üniversitesi|ODTU|METU).*":"Tier1",
    "(?i).*(Hacettepe University|Hacettepe Üniversitesi).*":"Tier1",
    "(?i).*(Boğaziçi|Bogazici|Bogaziçi).*":"Tier1",
    "(?i).*(Ankara University|Ankara Üniversitesi).*":"Tier1",
    "(?i).*(Koç University|Koç Üniversitesi).*":"Tier1",
    "(?i).*(Bilkent University|Bilkent Üniversitesi).*":"Tier1",
    "(?i).*(Istanbul University|Istanbul Üniversitesi).*":"Tier1",
    "(?i).*(Atatürk Üniversitesi|Atatürk University).*":"Tier1",
    "(?i).*(Gazi University|Gazi Üniversitesi).*":"Tier1",
    "(?i).*(Ege University|Ege Üniversitesi).*":"Tier1",
    "(?i).*(Dokuz Eylül University|Dokuz Eylül Üniversitesi).*":"Tier1",
    "(?i).*(Sabanci University|Sabanci Üniveritesi).*":"Tier1",
    "(?i).*(Yildiz Technical University|Yıldız Teknik Üniversitesi|YTÜ).*":"Tier1",
    "(?i).*(University of Anatolia|Anadolu Üniversitesi).*":"Tier1",
    "(?i).*(Marmara University|Marmara Üniversitesi).*":"Tier1",
    "(?i).*(Firat University|Fırat Üniversitesi).*":"Tier1",
    "(?i).*(Istanbul Bilgi University|İstanbul Bilgi Üniversitesi).*":"Tier1",
    "(?i).*(Erciyes University|Erciyes Üniversitesi).*":"Tier1",
    "(?i).*(Sakarya University|Sakarya Üniversitesi).*":"Tier1",
    "(?i).*(Akdeniz University|Akdeniz Üniversitesi).*":"Tier1",
    "(?i).*(Ondokuz Mayis University|Ondokuz Mayıs Üniversitesi).*":"Tier1",
    "(?i).*(Uludağ|Uludag|Uludağ Üniversitesi).*":"Tier1",
    "(?i).*(Karabük Üniversitesi:Karabük University).*":"Tier1",
    "(?i).*(Karadeniz Technical University|Karadeniz Teknik Üniversitesi).*":"Tier1",
    "(?i).*(Fırat University|Fırat Üniversitesi).*":"Tier1",
    "(?i).*(Istanbul Technical|İstanbul Teknik Üniversitesi|İstanbul Teknik).*":"Tier1",   
    "(?i).*(Bahçeşehir Üniversitesi|Bahcesehir University|BAU).*":"Tier2",
    "(?i).*(Çankaya University|Çankaya Üniversitesi|Cankaya University).*":"Tier2",
    "(?i).*(Gaziantep University|Gaziantep Üniversites).*":"Tier2",
    "(?i).*(Izmir Institute of Technology|İzmir Yüksek Teknoloji Enstitüsü).*":"Tier2",
    "(?i).*(Eskişehir Osmangazi University|Eskişehir Osmangazi  Üniversitesi).*":"Tier2",
    "(?i).*(Özyeğin University|Ozyegin University|Özyeğin Üniversitesi).*":"Tier2",
    "(?i).*(Cumhuriyet University|Sivas Cumhuriyet Üniversitesi|Cumhuriyet Üniversitesi).*":"Tier2",
    "(?i).*(Gebze Technological University|Gebze Teknik Üniversitesi).*":"Tier2",
    "(?i).*(Suleyman Demirel University|Süleyman Demirel Üniversitesi|Süleyman Demirel University|University of Suleyman Demirel).*":"Tier2",
    "(?i).*(Istanbul Aydin University|İstanbul Aydın Üniversitesi|Istanbul Aydın University).*":"Tier2",
     "(?i).*(TOBB Ekonomi ve Teknoloji Üniversitesi|TOBB University of Economics and Technology).*":"Tier2",
    "(?i).*(Mersin University|Mersin Üniversitesi).*":"Tier2",
    "(?i).*(Pamukkale University|Pamukkale Üniversitesi).*":"Tier2",
    "(?i).*(Kocaeli University|Kocaeli Üniversitesi).*":"Tier2",
    "(?i).*(Harran University|Harran Üniversitesi).*":"Tier2",
    "(?i).*(Yüzüncü Yil University|Yüzüncü Yil Üniversitesi|Yüzüncü Yıl Üniversitesi).*":"Tier2",
    "(?i).*(Trakya University|Trakya Üniversitesi).*":"Tier2",
    "(?i).*(Çanakkale Onsekiz Mart University|Çanakkale Onsekiz Mart Üniversitesi|Canakkale Onsekiz Mart University).*":"Tier2",
    "(?i).*(İnönü University Malatya|İnönü Üniversitesi|İnönü University).*":"Tier2",
    "(?i).*(Başkent University|Başkent Üniversitesi).*":"Tier2",
    "(?i).*(Düzce University|Düzce Üniversitesi).*":"Tier2",
    "(?i).*(Abant Izzet Baysal University|Abant Izzet Baysal Üniversitesi|Abant İzzet Baysal Üniversitesi).*":"Tier2",
    "(?i).*(Muğla Sıtkı Koçman University|Muğla Sıtkı Koçman Üniversitesi|Mugla Sitki Kocman University|Mugla University).*":"Tier2",
    "(?i).*(Gaziosmanpaşa University|Gaziosmanpaşa Üniversitesi|Gaziosmanpasa University).*":"Tier2",
    "(?i).*(Istanbul Medipol University|Istanbul Medipol Üniversitesi|İstanbul Medipol Üniversitesi).*":"Tier3",
    "(?i).*(Yeditepe University|Yeditepe Üniversitesi).*":"Tier3",
    "(?i).*(Gaziantep University|Gaziantep Üniversites).*":"Tier3",
    "(?i).*(Necmettin Erbakan Üniversitesi|Necmettin Erbakan University).*":"Tier3",
    "(?i).*(Çukurova University|Çukurova Üniversitesi|Cukurova University).*":"Tier3",
    "(?i).*(Kafkas University|Kafkas Üniversitesi).*":"Tier3",
    "(?i).*(Adnan Menderes University|Adnan Menderes Üniversitesi).*":"Tier3",
    "(?i).*(Atilim University|Atilim Üniversitesi|Atılım Üniversitesi|Atılım University).*":"Tier3",
    "(?i).*(Healh Sciences University Istanbul|Sağlık Bilimleri Üniversitesi).*":"Tier3",
    "(?i).*(Istanbul Aydin University|İstanbul Aydın Üniversitesi|Istanbul Aydın University).*":"Tier3",
    "(?i).*(İstanbul Medeniyet Üniversitesi|İstanbul Medeniyet University|Istanbul Medeniyet Üniversitesi|Istanbul Medeniyet University).*":"Tier3",
    "(?i).*(Afyon Kocatepe University|Afyon Kocatepe Üniversitesi).*":"Tier3",
    "(?i).*(Balikesir University|Balikesir Üniversitesi|Balıkesir University|Balıkesir Üniversitesi).*":"Tier3",     
    "(?i).*(Giresun University|Giresun Üniversitesi).*":"Tier3",
    "(?i).*(Zonguldak Bülent Ecevit University|Zonguldak Bülent Ecevit Üniversitesi|Zonguldak Bulent Ecevıt).*":"Tier3",
    "(?i).*(Selçuk University|Selçuk Üniversitesi|Selcuk Üniversitesi|Selcuk University).*":"Tier3",
    "(?i).*(Yaşar University|Yaşar Üniversitesi|Yasar University|Yasar Üniversitesi).*":"Tier3",
    "(?i).*(Bingöl University|Bingöl Üniversitesi).*":"Tier3",
    "(?i).*(Bozok University|Bozok Üniversitesi).*":"Tier3",
    "(?i).*(Gelişim University|Gelişim Üniversitesi|Gelisim University|Gelisim Üniversitesi).*":"Tier3",
    "(?i).*(Karamanoğlu Mehmetbey University|Karamanoglu Mehmetbey University|Karamanoğlu Mehmetbey Üniversitesi|Karamanoglu Mehmetbey Üniversitesi).*":"Tier3",
    "(?i).*(Kahramanmaraş Sütçü İmam University|Kahramanmaraş Sütçü İmam Üniversitesi|Kahramanmaras Sutcu İmam Üniversitesi).*":"Tier3",
    "(?i).*(Bartin University|Bartin Üniversitesi).*":"Tier3",
    "(?i).*(Izmir University of Economics|İzmir Ekonomi Üniversitesi).*":"Tier3",    
    "(?i).*(Kadir Has University|Kadir Has Üniversitesi).*":"Tier3",
    "(?i).*(Oxford|Kaliforniya|Harvard|Stanford|Cambridge|Massachusetts|Princeton|Kaliforniya| Berkeley|Yale|Chicago|Kolombiya|Imperial|Johns Hopkins|Pensilvanya|ETH Zürih|Pekin|Tsinghua|Toronto|Londra).*":"Tier_Unique"   
  }

In [59]:
education.loc[:,"degree"] = education.loc[:,"degree"].replace(degree,regex=True)
education.loc[:,"school_name"] = education.loc[:,"school_name"].replace(university,regex=True)
education.loc[~education["degree"].isin(degree.values()),"degree"] = "Other" 
education = education[education["school_name"].isin(university.values())]

In [60]:
education = education.drop_duplicates(['user_id', 'degree'])
education = pd.pivot(education, index='user_id', columns='degree', values='school_name')
education.head()

degree  Bachelor HighSchool Master  Other  PhD
user_id
1          Tier1        NaN  Tier1    NaN  NaN
2            NaN        NaN    NaN  Tier1  NaN
3          Tier1        NaN    NaN    NaN  NaN
4          Tier1        NaN    NaN    NaN  NaN
5          Tier1        NaN  Tier1    NaN  NaN

In [61]:
languages = languages[languages['language'].notnull() & languages['proficiency'].notnull()]

In [62]:
language_ranks = {
    'elementary': 1,
    'limited_working': 2,
    'professional_working': 3,
    'full_professional': 4,
    'native_or_bilingual': 5
}

languages.loc[:, 'proficiency'] = languages.loc[:, 'proficiency'].map(language_ranks)

In [63]:
language_convert = {
    '(?i).*(ingilizce|english|englishch|englisch|Eng|eng|İng|ing|Ing|English|english|İngilizce|Ingilizce|İNGİLİZCE|INGILIZCE).*': 'English',
    '(?i).*(almanca|german|deutsch|Alm|alm|ger|Ger|Deu|deu|ALMANCA|GER|DEU|ALM).*': 'German',
    '(?i).*(fransızca|french|français|Fr|fr|FR).*': 'French',
    '(?i).*(ispanyolca|spanish|español|Spa|spa|İsp|isp|SPA|ISP|İSP).*': 'Spanish',
    '(?i).*(arapça|arabic|ara|Ara|ARA).*': 'Arabic',
    '(?i).*(rusça|russian|Rus|rus|RUS).*': 'Russian',
    '(?i).*(türkçe|turkish|türkisch|Tür|Tur|tür|tur|TURKISH|TÜRKÇE|Tükçe).*': 'Turkish',
    '(?i).*(Chinese|CHINESE|CHI|Chi|chi|Çince).*': 'Chinese',
    '(?i).*(Japanese|Japonca|japa|japo|JAPA|JAPO).*': 'Japanese',
    '(?i).*(İtalyanca|Italian|itali|ital|ITA|İTAL).*': 'Italian',
    '(?i).*(Azerice|Azerbaijani|Azeri|Azərba).*': 'Azerbaijani',
    
}

languages['language'] = languages['language'].replace(language_convert, regex=True)
languages = languages[languages['language'].isin(language_convert.values())]

In [64]:
languages = languages.drop_duplicates(['user_id', 'language'])
languages = pd.pivot(languages, index='user_id', columns='language', values='proficiency')
languages = languages.fillna(0).astype(int)
languages.head()

language,Arabic,Azerbaijani,Chinese,English,French,German,Italian,Japanese,Russian,Spanish,Turkish
user_id,,,,,,,,,,,
8,0,0,0,4,1,0,0,0,0,0,5
11,0,0,0,3,0,0,0,0,0,0,5
12,0,0,0,3,0,0,0,0,0,0,5
13,0,0,0,4,0,2,0,0,0,0,0
14,0,0,0,3,0,0,0,0,0,0,5

In [65]:
skills.loc[skills["skill"].str.contains("HTML|HTML 5",na=False),"skill"] = "HTML"
skills.loc[skills["skill"].str.contains("Python (Programming Language)|Python",na=False),"skill"] = "Python"
skills.loc[skills["skill"].str.contains("Object-Oriented Programming (OOP)|Object Oriented Design|OOP (Nesne Yönelimli Programlama)|OOP",na=False),"skill"] = "OOP"

In [66]:
top_skills = skills['skill'].value_counts().iloc[:70].index

skills = skills[skills['skill'].isin(top_skills)]
skills['experience'] = True

In [67]:
skills = skills.drop_duplicates(['user_id', 'skill'])
skills = pd.pivot(skills, index='user_id', columns='skill', values='experience')
skills = skills.fillna(0).astype(int)
skills.head()

skill,.NET,AJAX,ASP.NET,ASP.NET MVC,Agile Methodologies,Android,Android Development,Araştırma,AutoCAD,Bootstrap,...,T-SQL,TFS,Visual Studio,Web Development,Web Geliştirme,Web Services,XML,Yazılım Geliştirme,jQuery,İngilizce
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
experiences = pd.DataFrame()

In [69]:
experiences['FirstCompany'] = work_experiences.groupby("user_id")['company_id'].nth(-1).astype(str)
experiences['SecondCompany'] = work_experiences.groupby("user_id")['company_id'].nth(-2).astype(str)
experiences['ThirdCompany'] = work_experiences.groupby("user_id")['company_id'].nth(-3).astype(str)

experiences['MininumExperience'] = work_experiences.groupby("user_id")['start_year_work'].min()
experiences['MaximumExperience'] = work_experiences.groupby("user_id")['start_year_work'].max()

experiences['CompanyCount2018'] = work_experiences[work_experiences['start_year_work'].gt(201712)].groupby("user_id").size()
experiences['CompanyCount2017'] = work_experiences[work_experiences['start_year_work'].gt(201612)].groupby("user_id").size()
experiences['CompanyCount2016'] = work_experiences[work_experiences['start_year_work'].gt(201512)].groupby("user_id").size()

In [70]:
experiences.head()

,FirstCompany,SecondCompany,ThirdCompany,MininumExperience,MaximumExperience,CompanyCount2018,CompanyCount2017,CompanyCount2016
user_id,,,,,,,,
0,0,0,NaN,200509,200509,NaN,NaN,NaN
2,10,7,9,201612,201806,1.0,2.0,3.0
5,15,NaN,NaN,201706,201706,NaN,1.0,1.0
7,21,21,21,201607,201812,1.0,3.0,4.0
10,26,26,27,201308,201805,2.0,2.0,2.0

In [71]:
train_users[education.columns]   = education[education.columns]
train_users[languages.columns]  = languages[languages.columns]
train_users[skills.columns] = skills[skills.columns]
train_users[experiences.columns]   = experiences[experiences.columns]

test_users[education.columns]   = education[education.columns]
test_users[languages.columns]  = languages[languages.columns]
test_users[skills.columns] = skills[skills.columns]
test_users[experiences.columns]   = experiences[experiences.columns]

In [72]:
train_users.head()

,industry,location,moved_after_2019,Bachelor,HighSchool,Master,Other,PhD,Arabic,Azerbaijani,...,jQuery,İngilizce,FirstCompany,SecondCompany,ThirdCompany,MininumExperience,MaximumExperience,CompanyCount2018,CompanyCount2017,CompanyCount2016
user_id,,,,,,,,,,,,,,,,,,,,,
1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Tier2,NaN,NaN,Tier1,NaN,0.0,0.0,...,0.0,0.0,26,1876,1875,201505.0,201803.0,1.0,1.0,1.0
6950,Internet,"Istanbul, Istanbul, Turkey",0,NaN,NaN,NaN,Tier1,NaN,0.0,0.0,...,0.0,0.0,1337,1337,551,201304.0,201702.0,NaN,1.0,3.0
4880,Online Media,Turkey,0,Tier1,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,5293,5291,5292,201401.0,201705.0,NaN,1.0,2.0
26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,Tier3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,26,26,26,200909.0,201410.0,NaN,NaN,NaN
11005,Banking,"Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,7191,151,1562,200909.0,201704.0,NaN,1.0,1.0

In [73]:
test_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13255 entries, 17449 to 16036
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   industry                     13239 non-null  object
 1   location                     13255 non-null  object
 2   Bachelor                     9040 non-null   object
 3   HighSchool                   27 non-null     object
 4   Master                       3305 non-null   object
 5   Other                        1750 non-null   object
 6   PhD                          419 non-null    object
 7   Arabic                       6190 non-null   float64
 8   Azerbaijani                  6190 non-null   float64
 9   Chinese                      6190 non-null   float64
 10  English                      11594 non-null  float64
 11  French                       6190 non-null   float64
 12  German                       6190 non-null   float64
 13  Italian                      6190 non-null   float64
 14  Japanese                     6190 non-null   float64
 15  Russian                      6190 non-null   float64
 16  Spanish                      6190 non-null   float64
 17  Turkish                      6190 non-null   float64
 18  .NET                         11594 non-null  float64
 19  AJAX                         11594 non-null  float64
 20  ASP.NET                      11594 non-null  float64
 21  ASP.NET MVC                  11594 non-null  float64
 22  Agile Methodologies          11594 non-null  float64
 23  Android                      11594 non-null  float64
 24  Android Development          11594 non-null  float64
 25  Araştırma                    11594 non-null  float64
 26  AutoCAD                      11594 non-null  float64
 27  Bootstrap                    11594 non-null  float64
 28  C                            11594 non-null  float64
 29  C#                           11594 non-null  float64
 30  C++                          11594 non-null  float64
 31  CSS                          11594 non-null  float64
 32  Design Patterns              11594 non-null  float64
 33  Docker                       11594 non-null  float64
 34  Eclipse                      11594 non-null  float64
 35  Ekip Çalışması               11594 non-null  float64
 36  Entity Framework             11594 non-null  float64
 37  Git                          11594 non-null  float64
 38  HTML                         11594 non-null  float64
 39  Hibernate                    11594 non-null  float64
 40  JIRA                         11594 non-null  float64
 41  JSON                         11594 non-null  float64
 42  Java                         11594 non-null  float64
 43  JavaScript                   11594 non-null  float64
 44  LINQ                         11594 non-null  float64
 45  Linux                        11594 non-null  float64
 46  Machine Learning             11594 non-null  float64
 47  Matlab                       11594 non-null  float64
 48  Maven                        11594 non-null  float64
 49  Microsoft Excel              11594 non-null  float64
 50  Microsoft Office             11594 non-null  float64
 51  Microsoft SQL Server         11594 non-null  float64
 52  Microsoft Word               11594 non-null  float64
 53  MongoDB                      11594 non-null  float64
 54  MySQL                        11594 non-null  float64
 55  Mühendislik                  11594 non-null  float64
 56  Node.js                      11594 non-null  float64
 57  OOP                          11594 non-null  float64
 58  Oracle                       11594 non-null  float64
 59  PHP                          11594 non-null  float64
 60  PL/SQL                       11594 non-null  float64
 61  Photoshop                    11594 non-null  float64
 62  PostgreSQL                   11594 non-null  float64
 63  Programlama                  11594 non-null  float64
 64  Programming                  11594 non-null  float64
 65  Proje Yönetimi               11594 non-null  float64
 66  Project Management           11594 non-null  float64
 67  Python                       11594 non-null  float64
 68  React.js                     11594 non-null  float64
 69  SOAP                         11594 non-null  float64
 70  SQL                          11594 non-null  float64
 71  Scrum                        11594 non-null  float64
 72  Software Design              11594 non-null  float64
 73  Software Development         11594 non-null  float64
 74  Software Engineering         11594 non-null  float64
 75  Software Project Management  11594 non-null  float64
 76  Spring Framework             11594 non-null  float64
 77  T-SQL                        11594 non-null  float64
 78  TFS                          11594 non-null  float64
 79  Visual Studio                11594 non-null  float64
 80  Web Development              11594 non-null  float64
 81  Web Geliştirme               11594 non-null  float64
 82  Web Services                 11594 non-null  float64
 83  XML                          11594 non-null  float64
 84  Yazılım Geliştirme           11594 non-null  float64
 85  jQuery                       11594 non-null  float64
 86  İngilizce                    11594 non-null  float64
 87  FirstCompany                 10526 non-null  object
 88  SecondCompany                8060 non-null   object
 89  ThirdCompany                 5645 non-null   object
 90  MininumExperience            10526 non-null  float64
 91  MaximumExperience            10526 non-null  float64
 92  CompanyCount2018             4645 non-null   float64
 93  CompanyCount2017             6868 non-null   float64
 94  CompanyCount2016             7976 non-null   float64
dtypes: float64(85), object(10)
memory usage: 9.7+ MB

### Encoding

In [74]:
categoricals = [x for x in test_users.columns if test_users[x].dtype == 'object']
numerics = [x for x in test_users.columns if test_users[x].dtype != 'object']

In [75]:
for x in categoricals:
    train_category  = set(test_users[x].unique())
    test_category   = set(test_users[x].unique())
    most_category = set.intersection(train_category, test_category)
    
    train_users.loc[~train_users[x].isin(most_category), x] = 'other'
    test_users.loc[~test_users[x].isin(most_category), x] = 'other'

In [76]:
data_all = pd.concat([train_users, test_users], axis=0)

In [77]:
for x in categoricals:
    data_all[x] = data_all[x].factorize()[0]

In [78]:
data_all[categoricals] = data_all[categoricals].astype('category')
data_all[numerics] = data_all[numerics].fillna(-1)

train_users = data_all.loc[train_users.index, train_users.columns]
test_users = data_all.loc[test_users.index, test_users.columns]

### Training

In [79]:
from sklearn.model_selection import cross_val_score, GridSearchCV, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [80]:
X = train_users.drop(columns=["moved_after_2019"])
y = train_users["moved_after_2019"]

In [81]:
rf = RandomForestClassifier()
cv  = StratifiedKFold(shuffle=True)

In [82]:
rf_score = cross_val_score(rf, X, y, cv=cv, scoring='accuracy', n_jobs=-1)
print(f'Scores mean: {np.mean(rf_score):.4f}')
print(f'Scores std: {np.std(rf_score):.4f}')

Scores mean: 0.7680
Scores std: 0.0030

In [83]:
rf_tune = RandomForestClassifier()

In [84]:
rf_params = {"n_estimators": [200, 350, 500],
             "criterion": ["gini", "entropy"],
             "min_samples_split": [2, 3, 5],
             "class_weight": ["balanced", "balanced_subsample"]}

In [86]:
#rf_cv_model = GridSearchCV(rf_tune, rf_params, cv=cv, n_jobs=-1, verbose=1).fit(X, y)

In [87]:
#rf_cv_model.best_params_

In [88]:
rf_tune = RandomForestClassifier(criterion="entropy", class_weight='balanced_subsample', min_samples_split=2, n_estimators=350).fit(X, y)

In [89]:
rf_tune_score = cross_val_score(rf_tune, X, y, cv=cv, scoring='accuracy', n_jobs=-1)
print(f'Scores mean: {np.mean(rf_tune_score):.4f}')
print(f'Scores std: {np.std(rf_tune_score):.4f}')

Scores mean: 0.7703
Scores std: 0.0019

In [90]:
rf_tune.fit(X, y)
submission.loc[test_users.index, "moved_after_2019"] = rf_tune.predict(test_users)

submission["moved_after_2019"] = submission["moved_after_2019"].astype(int)
submission["moved_after_2019"].value_counts()

0    9427
1    3828
Name: moved_after_2019, dtype: int64

In [91]:
submission.to_csv('submission.csv')